:root {
    --sans: "Dia", sans-serif;
    --serif: "Financier", serif;
    --blue: #0377d4;
    --light-blue: #eef5fb;
}
@font-face{
    font-family:Financier;
    font-weight:400;
    font-style:normal;
    src: url(../../public/fonts/FinancierTextWeb-Regular.woff) format("woff")
}
@font-face{
    font-family:Financier;
    font-weight:600;
    font-style:italic;
    src: url(../../public/fonts/FinancierTextWeb-MediumItalic.woff) format("woff")
}
@font-face{
    font-family:Dia;
    font-weight:400;
    font-style:normal;
    src:url(../../public/fonts/Dia-Regular.woff) format("woff")
}
@font-face{
    font-family:Dia;
    font-weight:700;
    font-style:normal;
    src:url(../../public/fonts/Dia-Bold.woff) format("woff")
}
body {
  font-family: var(--sans);
  color: #222;
  background-color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: var(--serif);
}

p, li, blockquote {
  font-family: var(--sans);
}



.homepage-subtitle {
  font-family: "PT serif Italic";
  font-size: 1.2rem;
}


.fulltext-content{
    font-size: 30px !important;
    margin: 0 !important;
    font-weight: normal;
    line-height: 77px !important;
}

.imgtext-block-para{
    font-size: 21px;
    font-weight:normal;
    line-height: 27px;   
}

.imgtext-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
}

h1{
    font-size:68px !important;
}

p{
    font-size: 34px;
    line-height: 44px;
    margin-top: 6px;
}


.heading{
    display: inline-block;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    font-style: "Font Awesome 6 Free";
    margin-top: 20px;
    margin-bottom: 20px;
}

header .heading img{
    max-width: 200px;
    object-fit: cover;
}

.imagetextblock-section{
    margin-bottom: 30px;
}

.imagetextblock-section .btn {        
    padding: 0;
    padding-bottom: 2px;
    font-family: var(--sans);
    font-weight: 700;
    border-bottom: 2px solid var(--blue);
    border-radius: 0;
    text-transform: uppercase;
}

.textblock-section{
    background-color: var(--blue);
    color: #fff;
}

.textblock-section h2{
    font-family: var(--sans);
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.textblock-section p{
    font-family: var(--sans);
    font-size: 16px;
    line-height: normal;
}

.textblock-section .btn {
    font-family: var(--sans);
    font-size: 16px;
    line-height: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
}

.threegridblock-section{
    margin-bottom: 50px;
    background-color: var(--light-blue);
}

.card.hover-lift {
    border: none;
    padding: 20px 16px;
    gap: 16px;
}

.card-img-top {
    object-fit: cover;
    max-height: 250px;
    width: 100%;
}

.card-body {
    padding: 0px !important;
    gap: 16px;
}

.card-text{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
}

.card-title{
    color: #000 !important;
    font-size: 28px;
    line-height: 33.6px;
    margin: 0 0 16px !important;
}

.card-date {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: var(--sans);
}

@media (min-width: 768px) {

    .imagetextblock-section .row {
        margin-right: 0;
    } 

    .imagetextblock-section .text-wrapper {
        width: 41%;
    }
    
}

@media (max-width: 767.98px) {

    .container, .container-sm {
        max-width: unset !important;
    }

    .imagetextblock-section .row {
        margin-left: 0;
        margin-right: 0;
    } 
    
}